body {
    background: #f4f1ed;
}
main {
    padding-top: 160px;
}
.sub_nav {
    width: 80%;
    margin: 0 auto;

    display: flex;
    align-items: center;
}
.sub_nav > h2 {
    font-weight: 500;
    font-size: 15px;
    margin-right: 10px;
    padding-right: 20px;
    box-sizing: border-box;
    display: inline-block;
    border-right: 2px solid;
}
.sub_nav > ul {
    display: flex;
    color: #a19388;
}
.sub_nav > ul > li {
    padding: 0 20px;
    box-sizing: border-box;
}
.sub_nav > ul > li:hover {
    color: black;
}
.sub_nav > ul > li > a {
    font-size: 13px;
}
/* best4 /////////////////////////////////////////////////////*/
.best4 {
    padding: 50px 0 40px;
    position: relative;
}
.best4::before {
    content: "";
    display: block;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    bottom: 0;
    background: #9ca091;
}
.best4_wrap {
    width: 80%;
    margin: 0 auto;
}
.best4_wrap > .sec_title {
    text-align: center;

    display: none;
}
.best_ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;
}
.best_ul > li {
    width: calc((100% - (10px * 2 * 4)) / 4);
    padding: 10px;
    font-size: 0;
}
.b_itembox {
    position: relative;
    overflow: hidden;
}
.b_itembox_a {
    display: block;
}
.best_num {
    position: absolute;
    top: 8px;
    left: 10px;
    color: white;
    font-style: italic;
    font-weight: 700;
    font-size: 13px;
    text-shadow: 1px 1px rgb(0,0,0,0.25);
}
.best4_img {
    width: 100%;
}
.n_desc {
    text-align: center;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    transition: all 0.5s;
    opacity: 0;
}
.b_itembox:hover .n_desc {
    background:rgba(255,255,255,0.75);
    opacity: 1;
}
.n_desc_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.n_color_box {
    padding: 20px 0;
}
.color {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 1px solid #e3e3e3;
    margin-right: 5px;
    display: inline-block;
}
.color1 {
    background: #D7B170;
}
.color2 {
    background: #501704;
}
.color3 {
    background: #56754C;
}
.color4 {
    background: #000082;
}
.color5 {
    background: #fff;
    margin-right: 0;
}
.n_title {
    font-size: 12px;
    margin: 0;
    margin-bottom: 5px;
}
.price_line {
    text-decoration: line-through;
    color: gray;
}
/* cate_item /////////////////////////////////////////////*/
.cate_item {
    padding: 60px 0;
    background: #f4f1ed;
    position: relative;
}
.cate_item_wrap {
    width: 80%;
    margin: 0 auto;
}
.cate_item_wrap > .sec_title {
    text-align: center;

    display: none;
}
.cate_ul {
    display: flex;
    flex-wrap: wrap;
    
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}
.cate_ul > li {
    width: calc((100% - (10px * 2 * 3)) / 3);
    padding: 10px;
    font-size: 0;
}
.cate_itembox {
    overflow: hidden;
    position: relative;
    width: 100%;
    max-height: 600px;
}
.cate_item_img {
    width: 100%;
}
.cate_desc {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    
    transition: all 0.5s;
    opacity: 1;
}
.cate_color_box {
    padding: 15px 0 10px;
}
.color {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 1px solid #e3e3e3;
    margin-right: 5px;
    display: inline-block;
}
.color1 {
    background: #D7B170;
}
.color2 {
    background: #501704;
}
.color3 {
    background: #56754C;
}
.color4 {
    background: #000082;
}
.color5 {
    background: #fff;
    margin-right: 0;
}
.cate_title {
    font-size: 14px;
    margin: 0;
    margin-bottom: 5px;
}
.price_line {
    text-decoration: line-through;
    color: gray;
}
@media screen and (max-width: 990px) {
    .sub_nav {
        width: 80%;
        margin: 0 auto;
        
        display: flex;
        align-items: center;
        /*  */
    }
    .sub_nav > ul {
        display: flex;
        color: #a19388;
        /*  */
        flex-wrap: wrap;
        justify-content: center;
    }
    .sub_nav > h2 {
        font-weight: 500;
        font-size: 15px;
        margin-right: 10px;
        padding-right: 20px;
        box-sizing: border-box;
        display: inline-block;
        border-right: 2px solid;
        white-space: nowrap;
    }
    .best4_wrap {
        margin: 0 auto;
        /*  */
        width: 100%;
    }
    .best_ul > li {
        padding: 10px;
        font-size: 0;
        /*  */
        width: calc((100% - (10px * 2 * 3)) / 3);
    }
    .best_ul > li:nth-child(4) {
        /*  */
        display: none;
    }
    .cate_item_wrap {
        margin: 0 auto;
        /*  */
        width: 100%;
    }
    .cate_ul > li {
        padding: 10px;
        font-size: 0;
        /*  */
        width: calc((100% - (10px * 2 * 2)) / 2);
    }
}
@media screen and (max-width: 480px) {
    main {
        padding-top: 100px;
    }
    .sub_nav > ul > li {
        box-sizing: border-box;
        /*  */
        padding: 0 10px;
    }
    .best4_wrap {
        margin: 0 auto;
        /*  */
        width: 100%;
    }
    .best_ul > li {
        font-size: 0;
        /*  */
        width: calc((100% - (5px * 2 * 3)) / 3);
        padding: 5px;
    }
    .cate_item_wrap {
        margin: 0 auto;
        /*  */
        width: 100%;
    }
    .cate_ul > li {
        font-size: 0;
        /*  */
        padding: 0px;
        padding-bottom: 20px;
        width: calc(100% / 2);
    }
    .cate_desc {
        font-size: 12px;
        font-family: 'Poppins', sans-serif;
        
        transition: all 0.5s;
        opacity: 1;
        /*  */
        padding-left: 10px;
        box-sizing: border-box;
    }
}